{% extends 'base.html' %}
{% block title %}Add Employees{% endblock %}
{% block campaignheading %}{{ camp_fetch.name }}{% endblock %}
{% block content %}

    <!-- notification bar-->
    <div class="col-md-12">
        {% if messages %}
            {% for message in messages %}
                <div class="col-sm-3 fade show alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message|title }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <!-- Nav tabs -->
    <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Campaigns</a>
            </li>
            {% if request.user.first_name is False %}
                <li class="nav-item">
                    <a class="nav-link" href="user_detail">User</a>
                </li>

            {% endif %}
            {% if request.user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="add_campaign_user">Members</a>
                </li>
            {% endif %}
            <li class="nav-item"></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Prospect</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="browse_prospects">Browse</a>
                    <a class="dropdown-item" href="#">Add New</a>
                    <a class="dropdown-item" href="prospect">Import</a>
                </div>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">

            <div id="user" class="container tab-pane active "><br>
                <h5>Displaying all {{ fetch_data.count }} contact</h5>
                <hr>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <tr>
                                <th>Name</th>
                                <th>Phone Number</th>
                                <th>Handler</th>
                                <th>Status</th>
                                <th>Follow Up</th>
                                <th>Remarks</th>
                            </tr>
                            {% for ud in fetch_data %}

                                <tr>

                                    <td><a href="/{{ ud.id }}/prospect_detail">{{ ud.name|title }}</a></td>
                                    <td>{{ ud.phone_number }}</td>
                                    <td>{{ ud.user_assign }}</td>
                                    <td>{% if ud.disposition != None %}
                                        {{ ud.disposition|title }} &nbsp;
                                    {% endif %}
                                        {% if ud.sub_disposition != None %}
                                            {{ ud.sub_disposition|title }}
                                        {% endif %}
                                        {% if ud.wrong_number != None %}
                                            {{ ud.wrong_number|title }}
                                        {% endif %}
                                    </td>
                                    <td>{% if ud.appointment_follow_up != None %}
                                        {{ ud.appointment_follow_up|title }}
                                    {% endif %}
                                        {% if ud.callback_follow_up != None %}
                                            {{ ud.callback_follow_up|title }}
                                        {% endif %}
                                    </td>
                                    <td>{{ ud.remarks|title }}</td>

                                </tr>
                            {% endfor %}

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}