{% extends 'base.html' %}
{% block campaignheading %}Campaigns{% endblock %}
{% block content %}

    {#notification#}
    <div class="col-md-12">
        {% if messages %}
            {% for message in messages %}
                <div class="col-sm-3 fade show alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message|title }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    {% if user.groups.values.get.name == 'Admin' %}

        <div class="col-md-12">
            <a href="{% url 'create_campaign' %}">
                <button class="btn btn-primary" type="submit">Create New</button>
            </a>
        </div>
    {% endif %}
    {#    create campaign button#}

    {#search campaign bar#}
    <div class="col-md-4 offset-md-8 search-bar mt-30">
        <form class="form-inline" action="#">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>

    <br>
    <!-- Nav tabs -->
    <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home">Campaigns</a>
            </li>
            {#            <li class="nav-item">#}
            {#                <a class="nav-link" data-toggle="tab" href="#user">Add User</a>#}
            {#            </li>#}
            {#            <li class="nav-item dropdown">#}
            {#                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Prospect</a>#}
            {#                <div class="dropdown-menu">#}
            {#                    <a class="dropdown-item" data-toggle="tab" href="#browse">Browse</a>#}
            {#                    <a class="dropdown-item" data-toggle="tab" href="#">Add New</a>#}
            {#                    <a class="dropdown-item" data-toggle="tab" href="#prospect">Import</a>#}
            {#                </div>#}
            {#            </li>#}
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div id="home" class="container tab-pane active"><br>
                <div class="col-md-6">
                    <h6>Total {{ camp_fetch.all.count }}</h6>
                    <table class="table">
                        <tr>
                            <th>Name</th>
                        </tr>
                        {% for camp in camp_fetch.all %}
                            <tr>

                                <td><a href="{{ camp.id }}/detail_campaign">{{ camp.name }}
                                </a></td>

                            </tr>
                        {% endfor %}
                    </table>


                </div>
            </div>



        </div>
    </div>


{% endblock %}