{% extends 'base.html' %}
{% block title %}Pending Calls{% endblock %}
{% block campaignheading %}{{ camp_detail }}{% endblock %}

{% block content %}
    <div class="col-md-12">
        {% if messages %}
            {% for message in messages %}
                <div class="col-sm-3 fade show alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message|title }}
                </div>
            {% endfor %}
        {% endif %}
        <td>{% if ud.disposition != None %}
            {{ ud.disposition|title }} &nbsp;
        {% endif %}
            {% if ud.sub_disposition != None %}
                {{ ud.sub_disposition|title }}
            {% endif %}
            {% if ud.wrong_number != None %}
                {{ ud.wrong_number|title }}
            {% endif %}
        </td>
    </div>
    <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Campaigns</a>
            </li>
            {% if request.user.is_superuser == False %}
                <li class="nav-item">
                    <a class="nav-link" href="user_detail">User</a>
                </li>

            {% endif %}
            {% if request.user.is_superuser == True %}
                <li class="nav-item">
                    <a class="nav-link" href="add_campaign_user">Members</a>
                </li>
            {% endif %}
            <li class="nav-item"></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Prospect</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="browse_prospects">Browse</a>
                    <a class="dropdown-item" href="#">Add New</a>
                    <a class="dropdown-item" href="prospect">Import</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="pending_calls">Pending Calls <sup>
                    <span style="font-size: 14px" class="badge badge-danger">{{ pending_calls }}</span>
                </sup>
                </a>

            </li>
        </ul>

        <!-- contact details -->
        <div class="col-md-12 m-2" style="padding-top: 20px;">
            <p style="font-size: 22px;">Quick Stats</p>
            <div class="col-md-12">
                <p><strong>Calls Available: </strong>{{ pending_calls }}</p>
                <hr>
            </div>
            <div class="col-md-12 p-2" style="border:1px solid #e0e0e0; background: #dcdcdc;">

                {% if pending_calls == 0 %}
                        <button class="btn btn-primary btn-m m-2 disabled">START CALLING</button>
                {% endif %}
                {% if pending_calls != 0 %}
                    <a href="/{{ contact_list }}/pending_calls_details">
                        <button class="btn btn-primary btn-m m-2 ">START CALLING</button>
                    </a>
                {% endif %}

            </div>
        </div>

    </div>


{% endblock %}