{% extends 'base.html' %}
{% block title %}Campaign Detail{% endblock %}
{% block campaignheading %}{{ camp_detail.name }}{% endblock %}
{% block content %}

    <div class="col-md-12">
        {% if messages %}
            {% for message in messages %}
                <div class="col-sm-3 fade show alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message|title }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <!-- Nav tabs -->
    <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Campaigns</a>
            </li>
            {% if request.user.first_name != 'Admin' %}
                <li class="nav-item">
                    <a class="nav-link" href="user_detail">User</a>
                </li>

            {% endif %}
            {% if request.user.first_name == 'Admin' %}
                <li class="nav-item">
                    <a class="nav-link" href="add_campaign_user">Members</a>
                </li>
            {% endif %}
            <li class="nav-item"></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Prospect</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="browse_prospects">Browse</a>
                    <a class="dropdown-item" href="#">Add New</a>
                    <a class="dropdown-item" href="prospect">{{ camp_detail.id }}Import</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="pending_calls">Pending Calls <sup>
                    <span style="font-size: 14px" class="badge badge-danger">{{ pending_calls }}</span>
                </sup>
                </a>

            </li>
        </ul>


        <!-- Tab panes -->
        <div class="tab-content">

            <div id="prospect" class="container tab-pane active"><br>
                <h3>Upload</h3>
                <hr>
                <form action="/file_upload" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% for field in form_upload %}

                        <div class="form-group field">
                            <label for="{{ field.id_for_label }}" class="label">{{ field.html_name|title }}</label><br>
                            <input type="hidden" value="{{ camp_id }}" name="campId">
                            {{ field }}

                            {% if field.help_text %}
                                <p class="help">{{ field.help_text }}</p>
                            {% endif %}

                            {% for error in field.errors %}
                                <p class="help text-danger">{{ error }}</p>
                            {% endfor %}

                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Upload</button>
                    <hr>
                    <br>
                </form>
                <h3>Total Uploads {{ fetch.count }}</h3><br>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>File Name</th>
                        <th>Campaign</th>

                    </tr>
                    </thead>

                    <tbody>
                    {% for file in fetch %}
                        <tr>
                            <td><a href="{{ file.document.url }}">
                                {{ file.filename|title }}
                            </a></td>
                            <td>{{ file.new_camp.name|title }}</td>
                            <td>{{ file.uploaded_at }}</td>

                        </tr>
                    {% endfor %}
                </table>

            </div>

        </div>
    </div>

{% endblock %}